/* set color and font size for the whole document*/
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 800px) {
    main {
        flex-direction: row;
    }
}

li{
    list-style: none;
}

section{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button{
    background-color: var(--button-color);
    padding: 10px ;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.button-row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.roundButton {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    img{
        width: 22px;
    }

    &:not(:last-child){
        margin-right: 20px;
    }
}

.tabButton{
    background-color: var(--background-color);
    padding: 10px 20px;
    width:  100%;
    display: flex;
    justify-content: center;

    h3{
        /*underline the active tab*/
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }

    &.active h3{
        border-color: var(--accent-color);
    }

    &:hover{
        background-color: var(--background-color-light);
    }
}

.time{
    font-size: 40px;
}

.workphase{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark);
}

.timer-circle {
    margin: 40px 0;
    width: 200px;
    height: 200px;
    border: 10px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timer-content {
    text-align: center;
}

#todoSection{
    background-color: var(--background-color-light);
    color: var(--text-color);
    height: 100%;
    justify-content: start;
}

.tabbarList{
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    
    &.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        justify-content: start;
        overflow-y: auto;
    }        
}

@media (min-width: 800px) {
    .tabbarList.active {
        height: 100%;
    }
}

.tabbarItem{
    background-color: #2b2d46;
    border-radius: 10px;
    display: flex;
    align-items: center;
    min-width: fit-content;
    width: 100%;  
    min-height: 40px;

    &:not(:last-child){
        margin-bottom: 15px;
    }

    p{
        margin: 0 15px;
    }

    input{
        margin-left: 15px;

        &:checked + p{
            text-decoration: line-through;
            color: var(--text-dark);
        }
    }
}